footer {
  padding: 50px 150px;
  background-color: var(--temnyy);
  display: flex;
  justify-content: center;

  .footer__container {
    max-width: 1620px;
    margin: 0 auto;

    .footer__top {
      display: flex;
      column-gap: 50px;
      align-items: center;
      color: var(--belyy);
      margin-bottom: 25px;

      .logo__footer {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 22px;
        line-height: 150%;
        color: #bfbfbf;
      }

      .contacts {
        display: flex;
        align-items: center;
        row-gap: 30px;
        column-gap: 50px;

        a,
        address {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          text-align: center;
          color: var(--belyy);
        }
      }

      button {
        width: max-content;
        border-radius: 5px;
      }
    }

    .footer__bottom {
      display: flex;
      justify-content: space-between;
      column-gap: 50px;

      a {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #bfbfbf;

        &:nth-of-type(2){
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 1560px) {
  footer {
    padding: 50px 20px;

    .footer__container {
      .footer__top {
        column-gap: 50px;
        justify-content: space-between;

        .contacts {

          address {
            max-width: 400px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  footer {
    padding: 40px 20px;

    .footer__container {
      width: 100%;

      .footer__top {
        flex-direction: column;
        row-gap: 30px;
        text-align: center;

        .contacts {
          width: 100%;
          justify-content: space-between;
          row-gap: 15px;
          column-gap: 20px;

          a,
          address {
            font-size: 16px;
            text-align: center;
          }
        }

        button {
          align-self: center;
        }
      }

      .footer__bottom {
        width: 100%;
        row-gap: 20px;
        align-items: start;

        a {
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    .footer__container {
      .footer__top {
        row-gap: 20px;

        .logo__footer {
          font-size: 20px;
        }

        .contacts {
          flex-direction: column;
          align-items: center;
        
          a,
          address {
            font-size: 14px;
          }
        }

        button {
          font-size: 14px;
          padding: 10px 20px;
        }
      }

      .footer__bottom {
        flex-direction: column;
        align-items: center;

        a {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  footer {
    .footer__container {
      .footer__top {
        row-gap: 15px;

        .logo__footer {
          font-size: 18px;
        }

        .contacts {
          a,
          address {
            font-size: 12px;
            line-height: 140%;
          }
        }

        button {
          font-size: 12px;
          padding: 8px 15px;
        }
      }

      .footer__bottom {
        a {
          font-size: 10px;
        }
      }
    }
  }
}
