.guarantees {
  margin-bottom: 100px;
  padding-top: 92px;

  h3 {
    color: var(--temnyy);
    margin-bottom: 115px;
  }

  .guarantees__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;

    .card {
      padding: 35px;
      background: var(--svetlo-seryy);
      border-radius: 15px;
      position: relative;

      .card__img{
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--svetlo-seryy);
        border-radius: 50%;
        color: #000;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .card__title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 26px;
        line-height: 120%;
        color: var(--temnyy);
        margin-bottom: 15px;
      }

      .card__text {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #333;
      }

      &:hover {
        background-color: #13172f;
        background-image: url("../../assets/guartees.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .card__title, .card__text, .card__img {
          color: var(--belyy);
        }

        .card__img{
            background-color: #13172f;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .guarantees {
    margin-bottom: 80px;
    padding-top: 80px;

    h3 {
      font-size: 32px;
      margin-bottom: 80px;
      text-align: center;
    }

    .guarantees__cards {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 80px;

      .card {
        padding: 30px;

        .card__title {
          font-size: 22px;
        }

        .card__text {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .guarantees {
    margin-bottom: 60px;
    padding-top: 60px;

    h3 {
      font-size: 28px;
      margin-bottom: 80px;
    }

    .guarantees__cards {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 15px;

      .card {
        padding: 25px;
        padding-top: 35px;

        .card__title {
          font-size: 20px;
        }

        .card__text {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .guarantees {
    margin-bottom: 40px;
    padding-top: 40px;

    h3 {
      font-size: 24px;
      margin-bottom: 60px;
      text-align: center;
    }

    .guarantees__cards {
      grid-template-columns: 1fr;
      row-gap: 60px;

      .card {
        padding: 20px;
        display: flex;
        column-gap: 20px;
        align-items: center;

        .card__img{
          position: static;
          transform: translate(0, 0);
        }

        .card__title {
          font-size: 18px;
        }

        .card__text {
          font-size: 12px;
        }
      }
    }
  }
}
