header {
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    a {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 22px;
      line-height: 150%;
      color: #000;
    }

    .header-top__right {
      display: flex;
      align-items: center;
      gap: 30px;

      p {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 26px;
        line-height: 120%;
        color: #0d0d0d;
      }

      button{
        border-radius: 15px;
      }
    }
  }
}
