.our__fleet {
  margin-bottom: 166px;

  h3 {
    color: var(--temnyy);
    margin-bottom: 90px;
  }

  .our__fleet_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 21px;
    row-gap: 22px;

    .card {
      .card__img {
        margin-bottom: 15px;
        border-radius: 20px;

        img{
          width: 100%;
          object-fit: cover;
        }
      }

      .card__text {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 26px;
        line-height: 120%;
        color: #000;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .our__fleet {
    margin-bottom: 120px;

    h3 {
      font-size: 28px;
      margin-bottom: 70px;
    }

    .our__fleet_cards {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 15px;
      row-gap: 20px;

      .card {
        .card__text {
          font-size: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .our__fleet {
    margin-bottom: 100px;

    h3 {
      font-size: 24px;
      margin-bottom: 50px;
    }

    .our__fleet_cards {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 15px;

      .card {
        .card__img {
          margin-bottom: 10px;

          img {
            border-radius: 15px;
          }
        }

        .card__text {
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .our__fleet {
    margin-bottom: 80px;

    h3 {
      font-size: 20px;
      margin-bottom: 40px;
    }

    .our__fleet_cards {
      row-gap: 10px;

      .card {
        .card__img {
          img {
            border-radius: 10px;
          }
        }

        .card__text {
          font-size: 20px;
        }
      }
    }
  }
}
